.product img{
    height: 286px;
    width: 289px;
    border-radius: 5px;
    padding: 7px;
}

.product{
    height: 508px;
    width: 303px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product-info {
    margin: 0 11px;
}
.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    margin-top: 7px;
    font-size: 20px;
    line-height: 20px;
}

.btn-info{
    width: 100%;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-info:hover{
    background-color: orange;
}

.product-info p{
    margin-top: 0;
    margin-bottom: 1;
} 
.btn-text{
    margin-right: 8px;
}
